<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    
    <nav class="topnav">
        <ul>
            <li><a>nxco</a></li>
            <li><a>Home</a></li>
            <li><a>About Me</a></li>
            <li><a>Contact Me</a></li>
        </ul>
    </nav>

    <section id="projects">
        <h2>My Projects</h2>
        <p>Project 1:Portfolio Website</p>
        <p>A personal portfolio website to showcase projects and skills as a front-end developer.</p>
        <p>Project 2: Description</p>
    </section>

    <section id="skills">
        <h2>My Skills</h2>
        <p>Skill 1</p>
        <p>Skill 2</p>
    </section>

    <footer>
        <p>Contact: your.email@example.com</p>
    </footer>

</body>
</html>